site_name: mkdocs-badges
repo_url: https://github.com/six-two/mkdocs-badges

theme:
  name: material
  features:
    - content.code.copy
    - navigation.footer
nav:
# Hide the index page -> would otherwise result in two mkdocs-badges links
- "": index.md
- setup.md
- badges.md
- styling.md
- migration.md
- "Tests":
  - test/basic.md
  - test/install.md
  - test/invalid.md
  - test/tags.md
  - test/theme.md
  - test/basic-caret-separator.md

plugins:
- search
- badges:
    tag_page_link: /test/tags/
    install_badge_data: tests/extra-install-badges.json
    # async: False
    # disable_warnings: True
    # separator: "^"
    # table_separator: "+"
- tags:
    tags_file: test/tags.md

# SEE https://squidfunk.github.io/mkdocs-material/reference/admonitions/
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg


extra_css:
- assets/stylesheets/custom.css
