:root {
    --md-badge-rounded-size: 4px;
    --md-badge-padding-size: 5px;
    /* Try to use the mkdocs material primary color. If it is undefined use blue*/
    --md-badge-color: var(--md-primary-fg-color, #2FA4E7);
}

.badge {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.badge .title {
    color: white;
    padding: var(--md-badge-padding-size);
    background-color: gray;
    border-bottom-left-radius: var(--md-badge-rounded-size);
    border-top-left-radius: var(--md-badge-rounded-size);
}

.badge .value {
    color: white;
    padding: var(--md-badge-padding-size);
    background-color: var(--md-badge-color);
    border-bottom-right-radius: var(--md-badge-rounded-size);
    border-top-right-radius: var(--md-badge-rounded-size);
}

.badge-copy {
    cursor: help;
}